body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
}

h1 {
  color: #333;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #9d00ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6900aa;
}
